html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background:cover ;
}
 a{
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  text-decoration: none;
  color: aquamarine;
}
.login{
  background-color: hotpink;
  background: cover;
}
.login div{
  display: flex;
  justify-content: center;
}
.login h3{
  color: aquamarine;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.login form{
  color: hotpink;
  font-size: medium;
  font-style: italic;
  text-align: center;
  border-radius: 20px;
  background-color: aquamarine;
  padding: 1%;
  margin: 2%;
  width: 30%;
}
.nuevoIntegrante{
  background-color: hotpink;
}

.nuevoIntegrante form{
  color: white;
  font-size: large;
  font-style: italic;
  text-align: center;
}



.index{
  background-color: hotpink;
}
.index h2 {
 color: aquamarine;
}
.index div{ 
  display: flex;
  justify-content: center;
}
.index a{
  border-radius: 20px;
  background-color: aquamarine;
  padding: 1%;
  text-decoration: none;
  color: hotpink;
  margin: 1%;
}
.index a:hover{
  box-shadow: 1px 1px 10px aquamarine;
}
