<section class = index>
<h2> Bienvenidos al super tp sin numero.</h2>
<a href='@Url.Action("LogIn")' >INICIA SESION SI TE DA</a>

<a href='@Url.Action("newIntegrante")' >AGREGAR UN NUEVO INTEGRANTE</a>

</section>