<section class = index>
    <div>
        <h2> Bienvenidos al super tp sin numero.</h2>
    </div>
    <div>
        <a href='@Url.Action("aLogIn")' >INICIA SESION SI TE DA</a>
        
    </div> 
    </section>