<section class = login >

<h3>Ingrese sus datos</h3>
<div>
<form action = '@Url.Action("LogIn", "Home")' method = "POST">
    Ingrese su nombre: <input type="text" name="nombreUser" placeholder="Ingrese su respuesta" autocomplete="off"/> <br/>
    Ingrese su contraseña: <input type="password" name="password" placeholder="Ingrese su respuesta" autocomplete = "off"/> <br/>
    <input type="submit" value="Mandar">
</form>
</div>
<a href= '@Url.Action("aHome", "Home")'>Home</a>
</section>

