<section class = login >

<h3>Ingrese sus datos</h3>

<form action = '@Url.Action("fromXToY", "Home")' method = "POST">
    Ingrese su nombre: <input type="string" name="answer" placeholder="Ingrese su respuesta" autocomplete="off"/>
    Ingrese su contraseña: <input type="string" name="answer" placeholder="Ingrese su respuesta" autocomplete="off"/>
    <input type="submit" value="Mandar">
</form>

</section>