<section class = nuevoIntegrante>
<form action = '@Url.Action("fromXToY", "Home")' method = "POST">
    Ingrese su usuario: <input type="string" name="answer" placeholder="Ingrese su respuesta" autocomplete="off"/>
    Ingrese su contraseña: <input type="string" name="answer" placeholder="Ingrese su respuesta" autocomplete="off"/>
    Ingrese su nombre: <input type="string" name="answer" placeholder="Ingrese su respuesta" autocomplete="off"/>
    Ingrese su apellido: <input type="string" name="answer" placeholder="Ingrese su respuesta" autocomplete="off"/>
    Ingrese su DNI: <input type="string" name="answer" placeholder="Ingrese su respuesta" autocomplete="off"/>
    Ingrese su direccion: <input type="string" name="answer" placeholder="Ingrese su respuesta" autocomplete="off"/>
    Ingrese su Barrio: <input type="string" name="answer" placeholder="Ingrese su respuesta" autocomplete="off"/>     <input type="submit" value="Mandar">
</form>
</section>